In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Paul,RE,2021-09-21 21:32:40,-21.0096,55.2707,66.29,74,0,2.01
1,1,Marfino,RU,2021-09-21 21:32:41,55.7028,37.3822,43.05,93,90,11.18
2,2,Sola,VU,2021-09-21 21:32:41,-13.8833,167.5500,77.67,94,90,5.75
3,3,Castro,BR,2021-09-21 21:32:42,-24.7911,-50.0119,67.60,87,84,10.42
4,4,Rikitea,PF,2021-09-21 21:32:43,-23.1203,-134.9692,73.92,71,1,14.09

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature (°F) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (°F) you would like for your trip? "))

What is the minimum temperature (°F) you would like for your trip? 75
What is the maximum temperature (°F) you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>= min_temp) & (city_data_df["Max Temp"]<= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Sola,VU,2021-09-21 21:32:41,-13.8833,167.5500,77.67,94,90,5.75
9,9,Batticaloa,LK,2021-09-21 21:32:45,7.7102,81.6924,80.28,75,97,3.60
11,11,Hirara,JP,2021-09-21 21:32:46,24.8000,125.2833,83.59,72,0,3.33
12,12,Pemangkat,ID,2021-09-21 21:32:47,1.1667,108.9667,77.25,89,99,5.35
13,13,Tripoli,LY,2021-09-21 21:31:17,32.8752,13.1875,83.10,58,24,10.49
20,20,Atuona,PF,2021-09-21 21:32:50,-9.8000,-139.0333,77.94,70,15,21.65
21,21,Kapaa,US,2021-09-21 21:32:51,22.0752,-159.3190,82.72,70,1,5.01
25,25,Butaritari,KI,2021-09-21 21:32:52,3.0707,172.7902,82.96,70,95,15.26
29,29,Hamilton,US,2021-09-21 21:30:31,39.1834,-84.5333,75.25,88,90,1.01
30,30,North Bend,US,2021-09-21 21:32:54,43.4065,-124.2243,89.24,45,1,10.36

In [12]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
2         Sola      VU     77.67 -13.8833  167.5500
9   Batticaloa      LK     80.28   7.7102   81.6924
11      Hirara      JP     83.59  24.8000  125.2833
12   Pemangkat      ID     77.25   1.1667  108.9667
13     Tripoli      LY     83.10  32.8752   13.1875

In [22]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Set parameters to search for a hotel.
params = {"radius": 5000,
         "types" : "lodging",
         "key" : g_key}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    hotels
    # Grab the first hotel from the results and store the name.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Sola,VU,77.67,-13.8833,167.5500,Leumerus Bungalows
9,Batticaloa,LK,80.28,7.7102,81.6924,Grand Star Guest House
11,Hirara,JP,83.59,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
12,Pemangkat,ID,77.25,1.1667,108.9667,Ramah Kost KITA
13,Tripoli,LY,83.10,32.8752,13.1875,Hotel Al-Safwa
20,Atuona,PF,77.94,-9.8000,-139.0333,Villa Enata
21,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Butaritari,KI,82.96,3.0707,172.7902,Isles Sunset Lodge
29,Hamilton,US,75.25,39.1834,-84.5333,Six Acres Bed & Breakfast
30,North Bend,US,89.24,43.4065,-124.2243,Red Lion Hotel Coos Bay

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))