## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Castro,BR,-24.7911,-50.0119,69.91,37,41,6.06,scattered clouds
1,1,Saint-Joseph,RE,-21.3667,55.6167,70.16,77,40,13.27,scattered clouds
2,2,Iqaluit,CA,63.7506,-68.5145,31.73,80,20,16.11,few clouds
3,3,Yaremche,UA,48.4583,24.5519,49.77,86,100,7.07,overcast clouds
4,4,Vila Velha,BR,-20.3297,-40.2925,75.15,53,20,16.11,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature (°F) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (°F) you would like for your trip? "))

What is the minimum temperature (°F) you would like for your trip? 68
What is the maximum temperature (°F) you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Castro,BR,-24.7911,-50.0119,69.91,37,41,6.06,scattered clouds
1,1,Saint-Joseph,RE,-21.3667,55.6167,70.16,77,40,13.27,scattered clouds
4,4,Vila Velha,BR,-20.3297,-40.2925,75.15,53,20,16.11,few clouds
6,6,Arraial Do Cabo,BR,-22.9661,-42.0278,71.56,56,75,11.50,broken clouds
7,7,Mazara Del Vallo,IT,37.6641,12.5880,78.75,72,32,4.99,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID            304
City               304
Country            302
Lat                304
Lng                304
Max Temp           304
Humidity           304
Cloudiness         304
Wind Speed         304
Current Weather    304
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
clean_df.count()

City_ID            302
City               302
Country            302
Lat                302
Lng                302
Max Temp           302
Humidity           302
Cloudiness         302
Wind Speed         302
Current Weather    302
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Castro,BR,69.91,scattered clouds,-24.7911,-50.0119,
1,Saint-Joseph,RE,70.16,scattered clouds,-21.3667,55.6167,
4,Vila Velha,BR,75.15,few clouds,-20.3297,-40.2925,
6,Arraial Do Cabo,BR,71.56,broken clouds,-22.9661,-42.0278,
7,Mazara Del Vallo,IT,78.75,scattered clouds,37.6641,12.5880,
9,Alexander City,US,73.11,clear sky,32.9440,-85.9539,
11,Dwarka,IN,81.28,broken clouds,22.2394,68.9678,
14,Torbay,CA,71.49,scattered clouds,47.6666,-52.7314,
20,Saint-Philippe,RE,71.15,scattered clouds,-21.3585,55.7679,
22,Bandarbeyla,SO,78.24,broken clouds,9.4942,50.8122,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    hotels 
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Castro,BR,69.91,scattered clouds,-24.7911,-50.0119,CHACARA BAILLY
1,Saint-Joseph,RE,70.16,scattered clouds,-21.3667,55.6167,"""Plantation Bed and Breakfast"
4,Vila Velha,BR,75.15,few clouds,-20.3297,-40.2925,Quality Suites Vila Velha
6,Arraial Do Cabo,BR,71.56,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
7,Mazara Del Vallo,IT,78.75,scattered clouds,37.6641,12.5880,Vizier Resort & Spa
9,Alexander City,US,73.11,clear sky,32.9440,-85.9539,Hampton Inn Alexander City
11,Dwarka,IN,81.28,broken clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
14,Torbay,CA,71.49,scattered clouds,47.6666,-52.7314,Gallows Cove
20,Saint-Philippe,RE,71.15,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
22,Bandarbeyla,SO,78.24,broken clouds,9.4942,50.8122,JABIR HOTEL

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [12]:
clean_hotel_df.count()

City               302
Country            302
Max Temp           302
Current Weather    302
Lat                302
Lng                302
Hotel Name         302
dtype: int64

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><d>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))